* {
  box-sizing: border-box;
}
body{
  background-image: url(image/chat.jpg);
}
.container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.item{
  width:20px;
  height:20px;
  background-color: black;
  margin-top: 20px;
}
