* {
  box-sizing: border-box;
}
html,
head{
  height: 100%;
}
body {
  background-image: url(../image/chat.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.item {
  width: 20px;
  height: 20px;
  background-color: black;
  margin-top: 20px;
}
